<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @todolist.task %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todolist.date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @todolist.complete %>
</p>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
