<!DOCTYPE html>
<html>
<head>
  <title>tim_todolist</title>
 

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div data-role="page">
	<div data-role="header">Tim</div>
	<div role="main" class="ui-content">
	<%= yield %>
	</div>
	<div data-role="footer">Tim</div>
</div>

</body>
</html>